@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lexend Deca", sans-serif;
  transition: all 0.2s linear;
}

:root{
  --primary-text-color: #8c96a1;
  --secondary-text-color: white;
  --tertiary-text-color: linear-gradient(to bottom, #ffffff, #8b8d8f);
  --border: 0.1rem solid rgb(80,79,79);
  --text-div-background-right:linear-gradient(to right ,#0d98e9 ,#00e1ff);
  --text-div-background-bottom:linear-gradient(to bottom ,#0d98e9 ,#00e1ff);
  --text-div-background-main-color: #18181f;
  --text-div-background-hover-color: #0b0d17;
}

body{
    min-height: 100vh;
    background: #110f1d;
}

a{
  text-decoration: none;
}

/* .app{
    width: 80%;
    margin: auto;
} */








/* @keyframes fadeIn {
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  } */



 

